$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  background: #f5f5f5;
}

.weekday {
  font-size: 1.3em;
}

.calendar-info, .date {
  font-size: 1.5em;
}

.weekday, .date {
  width: 13%;
  display: inline-block;
  text-align: center;
}

.this-month-true {
  color: dimgrey;
}

.this-month-false {
  color: darkgrey;
}

.weDate-true {
  color: red;
}

.calendar-info {
  color: red;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
