$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  background: #f5f5f5;
}

.weekday {
  font-size: 1.3em;
}

.calendar-info, .date {
  font-size: 1.5em;
}

.weekday, .date {
  width: 13%;
  display: inline-block;
  text-align: center;
}

.date {
  color: darkgrey;
}

.thisMonth {
  color: dimgrey;
}

.thisDate {
  color: red;
}

.calendar-info {
  color: red;
}

.week {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.dates {
  overflow:hidden;
  -webkit-transition:all ease-in 0.2s;
  transition:all ease-in 0.2s;
}

.dates.monthview,
.dates.weekview.weekview-add-active{
  height:43px * 5;
}

.dates.weekview,
.dates.monthview.monthview-add-active{
  height:43px;
}
