<!DOCTYPE html>
<html>
<head>
  <title>day</title>
  <link rel="stylesheet" type="text/css" href="display.css"/>
  <script src="../lib/date.js"></script>
  <script src="../model/Date.js"></script>
  <script src="display.js"></script>
</head>
<body onload="display(dateRecord)">
<div id="monthAndYear">

</div>

<div id="dateDistance">

</div>

<div id="calendar">

</div>
<a href="#" onclick="displayPreviousWeek()">previous week</a>
<a href="#" onclick="displayThisWeek()">today</a>
<a href="#" onclick="displayNextWeek()">next week</a>

</body>
</html>