.week {
  display: inline-block;
  overflow: hidden;
}

.week .date {
  display: inline-block;
  text-align: center;
  color: darkgray;
  margin: 5px
}

.date {
  width: 13%;
  font-size: xx-large;
}

.dateNumber {
  font-size: 200%;
}

.monthAndYear {
  color: crimson;
  font-size: x-large;
}

.weekday {
  color: crimson;
  font-size: xx-large;
}
