.week {
  display: inline-block;
  overflow: hidden;
}

.week .date {
  display: inline-block;
  text-align: center;
  color: darkgray;
  margin: 5px
}

.date {
  width: 11%;
  font-size: large;
}

.dateNumber {
  font-size: xx-large;
}

.monthAndYear {
  font-family: menlo;
  font-size: larger;
  color: crimson;
}

.weekday {
  font-family: menlo;
  color: crimson;
  font-size: xx-large;
}
